body {
    font-size: small;
    font-family: "Verdana","Helvetica","Arial";
    line-height: 1.6em;
}

h1,h2 {
    color: #007e7e;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

.guarantee {
    border-color: white;
    border-width: 1px;
    border-style: dashed;
    border-radius: 15px;
    background-color: #a7cece;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    line-height: 1.9em;
    font-style: italic;
    font-family: "Georgia","Times New Roman";
    color: #444444;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

p{
    border-color:white;
    border-style: dashed;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}