body {
    font-size:15px;
    line-height: 21px;
    background-color: #1d1e20;
    width:1192.67px;
    height: 1299.75;
    font-family: 'Spiller','Arial','Helvetica','sans-serif';
    overflow-x: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    color: #fff;
    margin: 0 auto;
}

div.footer_back{
    border: 1px solid white;
    background: #1d1e20;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-size: 1rem;
    line-height: 21px;
    line-height: 1.4rem;
    font-variation-settings: "wght" 400;
    padding: 20px 15px;
    margin-top: 64px;
    position: relative;
    text-align: center;
}

.footer_blocks1{
    margin: 0px 0px 30px;
}
.footer_blocks2 {
    display: table-cell;
}

.footer_blocks3 {
    display: table-cell;
}

.footer_blocks4 {
    display: table-cell;
}


.footer_blocks5 {
    display: table-cell;
}

.footer_blocks7 {
    display: table-cell;
}

.footer_blocks8 {
    display: table-cell;
}

.footer_blocks9 {
    display: table-cell;
}

.footer_blocks10 {
    display: table-cell;
}

div.footer_111{
    float: right;
}

.footer_link{
    color: #b7b8bd;
    text-decoration: none;
}

.u-link{
    color: #fff;
}

.footer_back {
    color: #fff;
    text-decoration: none;
}

.headline--footer {
    font-size: 23px;
    font-size: 1.5333333333rem;
    line-height: 28px;
    line-height: 1.8666666667rem;
    font-variation-settings: "wght" 500;
    margin: 0;
}

/* div.container-title{
    display: table-row;

} */


div.footer{
    display: table-cell;
}

h3{
    margin-bottom: 30px;
}

p{
    margin-bottom: 20px;
    margin: 0 0 15px;
    max-width: 450px;
    text-align: left;
    font-size: 17px;
    font-size: 1.1333333333rem;
    line-height: 28px;
    line-height: 1.8666666667rem;
    font-variation-settings: "wght" 400;
}

div.footer{
    font-size: 13px;
    font-size: 0.8666666667rem;
    line-height: 18px;
    line-height: 1.2rem;
    font-variation-settings: "wght" 400;
    color: white;
    text-align: center;
    width: 100px;
}

li.footer_item{
    color: inherit;
    text-decoration: none;
    font-size: 13px;
    font-size: 0.8666666667rem;
    line-height: 18px;
    line-height: 1.2rem;
    font-variation-settings: "wght" 400;
    margin: 0;
}

ul{
    list-style: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 30px;
}

ul.footer_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.footer_back{
    display: inline-block;
    font-size: 15px;
    font-size: 1rem;
    line-height: 21px;
    line-height: 1.4rem;
    font-variation-settings: "wght" 400;
    margin-top: 64px;
    position: relative;
    text-align: center;
    top: -32px;
}

li {
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
a:link{
    text-decoration: none;
    border-bottom: none;
}

.footer_link{
    height: 168px;
    font-weight: 273px;
}

div.A{
    width: 1600px;
    margin: 0 auto;
}

h2.footer_name1{
    width: 732px;
    height: 54px;
    line-height: 2.4rem;
    margin: 0px 0px 30px;
}

h2.footer_name2{
    width: 732px;
    height: 27px;
    line-height: 2.4rem;
    margin: 0px 0px 30px;
}

h3{
    width: 168px;
    height: 13.5px;
    margin: 0px 0px 12px;
}

.footer_blocks2 {
    width: 257px;
    height: 272px;
    padding: 0px 0px 18px;
}

.footer_blocks3{
    width: 257px;
    height: 272px;
    padding: 0px 0px 18px;
}

.footer_blocks4{
    width: 257px;
    height: 272px;
    padding: 0px 0px 18px;
}

.footer_blocks5{
    width: 257px;
    height: 272px;
    padding: 0px 0px 18px;
}

.footer_blocks7,.footer_blocks8,.footer_blocks9,.footer_blocks10{
    width: 257px;
    height: 209px;
    padding: 0px 0px 18px;
}

li.footer_item{
    width: 257px;
    height: 13px;
    margin: 0px 0px 12px;
    font-size: 9.75px;
}

h3{
    font-size: 11.25px;
    margin: 0px 0px 12px;
}

.a{
    font-size: 9.75px;
    margin: 0px 0px 12px;
}

.footer_blocks11{
    width: 168px;
    height: 90px;
}

li.footer_item1{
    width: 168px;
    height: 13.5px;
    font-size: 9.75px;
}
li.footer_item5{
    padding: 12px 0px 0px;
    margin: 0px 0px 12px;
    font-size: 9.75px;
}

li.footer_item3{
    padding: 12px 0px 0px;
    margin: 0px 0px 12px;
    font-size: 9.75px;
}

li.footer_item4{
    width: 168px;
    height: 27px;
    margin: 0px 0px 12px;
    font-size: 9.75px;
    color:#b7b8bd;
}

li.footer_item2{
    width: 257px;
    height: 26px;
    margin: 0px 0px 12px;
    font-size: 9.75px;
    color:#b7b8bd;
}

div.aaa{
    width: 1600px;
    height: 1102.5px;
    padding: 51px 65px 0px;
    margin: 0px 52px 0px 52px;
}

div.container{
    width: 1600px;
    padding: 51px 65px 0px;
    margin: 0px 52px 0px 52px;
}

div.A{
    width: 1600px;
    margin: 32px 0px 0px;
}

li.footer_item6{
    width: 257px;
    height: 13px;
    margin: 0px 0px 12px;
    font-size: 9.75px;
    color:#b7b8bd;
}

li.footer_item7{
    width: 257px;
    height: 13px;
    font-size: 9.75px;
    margin: 0px 0px 12px;
}

li.footer_item8{
    margin: 0px 0px 12px;
    font-size: 9.75px;
    width: 257px;
    height: 26px;
}

li.footer_item9{
    margin: 0px 0px 12px;
    padding: 12px 0px 0px;
    font-size: 9.75px;
}

li.footer_item10{
    margin: 0px 0px 12px;
    font-size: 9.75px;
}

li.footer_item11{
    margin: 0px 0px 12px;
    font-size: 9.75px;
    width: 257px;
    height: 26px;
}

li.footer_item12{
    padding: 12px 0px 0px;
    margin: 0px 0px 12px;
    font-size: 9.75px;
}
